/* Mobile App
by Eric Mareth
Mobile Interfaces and Usability 1301 */

*{
	font-family: "Trebuchet MS";
}

.listicon{
	margin: 20px 0px 0px 10px;
}

.ui-icon-HomeIcon{
	background-image: url("images/HomeIcon.png");
	background-size: 18px 18px;
}

.ui-icon-DownIcon{
	background-image: url("images/DownIcon.png");
	background-size: 18px 18px;
}

.ui-icon-CreateIcon{
	background-image: url("images/CreateIcon.png");
	background-size: 18px 18px;
}

.ui-icon-RightIcon{
	background-image: url("images/RightIcon.png");
	background-size: 18px 18px;
}


li h1{
	color: red;
	font-size: 30px;
}

a h1:last-of-type{
	font-size: 30px;
	margin: -10px 0px 15px 0px;
}

#centerstage{
	margin: 20px 7px;
	display: block;
	border-radius: 10px;
}

#headerimage{
	float: left;
	display: inline;
	margin: -10px 0px;
}

#required{
	margin: 0px 0px;
	text-align: right;
}

#errorslink{
	display: none;
}

label.error{
	display: block;
	color: maroon;
	margin: 10px 0px;
}

#errtext{
	color: red;
}

html {
	background-image: -webkit-gradient(linear,
		0% 0%, 
		0% 30%, 
		from(#89622E), 
		to(#E9D6BE));
	background-image: -moz-linear-gradient(270deg, #89622E, #E9D6BE 30%);
	background-image: -o-linear-gradient(270deg, #89622E, #E9D6BE 30%);
	overflow: scroll;
	
}

ol > li{
	list-style: none;
	margin-left: -35px;
}

#newEntry{
	font-size: 14px;
}

#entry{
	border: 6px groove steelBlue;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0px;
	background: ghostWhite;
}

div > ol{
	list-style: none;
	margin-left: -40px;
}

#choices{
	margin-left: -5px
}

.titled {
	background: steelBlue;
	padding: 2px 245px 3px 10px;
	border-radius: 8px;
}

#searchBar {
	background: steelBlue;
	padding: 2px 5px 2px 95px;
	display: inline;
	border-radius: 8px;	
}

.browseButton {
	width: 280px;
	text-align: center;
}

a{
	padding: 8px;
	margin:0px 2px;
}

div > p {
	text-align: center;
	font-size: 18px;
}

.header {
	color: white;
	background: steelBlue;
	font-weight: bold;
}

